$green-title: #499A18;
$orange-title: #E06733;
$grey-title: #717171;
$bg-section: #EDF2EC;
$links-nav: #010201;
$main-text: #636060;
$additional-text: #E06733;

$desktop-width: 1222px;
$tablet-width: 668px;
$mobile-width: 330px;