@mixin font ($style: normal, $size, $weight, $height) {
    font-style: $style;
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
}

@mixin column {
    display: flex;
    justify-content: space-between;
    @include media-mobile {
        flex-direction: column;
    } 
}

@mixin column-grid {
    display: grid;
    grid-template-columns: 330px 330px 330px;
    grid-template-rows: 450px 450px;
    gap: 55px 116px;
    @include media-tablet {
        grid-template-columns: 281px 281px;
        gap: 38px 106px;
    } 
    @include media-mobile {
        grid-template-columns: 280px;
        justify-content: center;
        gap: 34px;
    }
}

@mixin media-tablet {
    @media (max-width: 1223px) { @content; }
}

@mixin media-mobile {
    @media (max-width: 767px) { @content; }
}
    