.header {
    padding: 50px 0;
    background: $bg-section;
    @include media-tablet {
        padding: 35px 0;
    }
    @include media-mobile {
        padding: 42px 0 24px;
    }
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
}