.about {
    padding: 82px 0 105px;
    @include media-tablet {
        padding: 40px 0 62px;
    }
}

.about-content {
    padding-right: 155px;
    @include media-tablet {
        padding: 0%;
    }
}

.about-content__title {
    @include font ($size: 4rem, $weight: 400, $height: 5.2rem);
    color: $green-title;
    margin: 68px 0 40px;
    @include media-tablet {
        @include font ($size: 3.5rem, $weight: 400, $height: 4.6rem);
        margin: 0 149px;
        text-align: center;
    }
    >* {
        color: $orange-title;
    }
}

.about-content__text {
    @extend %font-add;
    @include font ($size: 2rem, $weight: 400, $height: 3rem);
    margin: 0%;
    color: $main-text;
    @include media-tablet {
        margin: 58.5px 0;
    }
}

.about-background__img {
    display: block;
}