.burger-menu {
    display: none;
    @include media-mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.burger-menu__line {
    width: 40px;
    height: 2px;
    background: $grey-title;
}