.navigation {
    @extend %font-prim;
    @include font ($size:1.6rem, $weight:700, $height: 5rem);
    display: flex;
    gap: 44px;
    list-style: none;
    margin: 0%;
    padding: 0%;
}

.navigation__item {
   color: $links-nav;
   text-decoration: none;
   &:hover {
    color: $orange-title;
    @extend %transition;
   }
}