.prices {
    padding: 40px 0 11.9px;
    @include media-tablet {
        padding: 40px 0 73.02px;
    }
    @include media-mobile {
        padding: 25px 0 42px;
    }
}

.prices-selection {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 33px 40px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    @include media-mobile {
        gap: 13.92px;
        padding: 29px 22px;
    }
}

.price-item {
    display: flex;
    align-items: center;
    gap: 54px;
    padding: 15px 40px;
    border-radius: 20px;
    background: $bg-section;
    @include media-mobile {
        gap: 5px;
        padding: 15px 40px 15px 30px;
    }
}

.price-name {
    @extend %font-add;
    @include font ($size: 2rem, $weight: 700, $height: 2rem);
    width: 100px;
    margin: 0%;
    color: #000000;
    @include media-mobile {
        width: 89px;
    }
}

.prices-info {
    display: flex;
    flex-direction: column;
    align-items: end;
    @include media-tablet {
        padding-top: 104px;
    }
    @include media-mobile {
        align-items: center;
        padding-top: 15px;
    }
}

.prices__title {
    @extend %font-add;
    @include font ($size: 4rem, $weight: 700, $height: 4.8rem);
    margin: 0 0 60px;
    color: #000000;
    @include media-tablet {
        @include font ($size: 3.5rem, $weight: 700, $height: 4.2rem);
        margin: 0 0 62px;
    }
    @include media-mobile {
        @include font ($size: 2.5rem, $weight: 700, $height: 3rem);
        margin-bottom: 42px;
        text-align: center;
    }
}

.prices__subtitle {
    @extend %font-add;
    @include font ($size: 4rem, $weight: 700, $height: 5rem);
    margin: 0 0 39px;
    text-align: right;
    color: #000000;
    @include media-tablet {
        @include font ($size: 2.5rem, $weight: 700, $height: 3.5rem);
        text-align: center;
    }
    @include media-mobile {
        @include font ($size: 2rem, $weight: 700, $height: 3.5rem);
        margin: 0 0 15px;
    }
    >* {
        color: $green-title;
    }
}

.prices-info__icon {
    width: 283.96px;
    height: 318.41px;
    @include media-tablet {
        width: 152px;
        height: 175px;
    }
    @include media-mobile {
        display: none;
    }
}