.service {
    padding: 35px 0 119px;
    background: $bg-section;
    @include media-tablet {
        padding: 60px 0 70px;
    }
    @include media-mobile {
        padding: 30px 0 35px;
    }
}

.service-header {
    display: flex;
    align-items: center;
    gap: 140px;
    padding-bottom: 97px;
    @include media-tablet {
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        padding-bottom: 40px;
    }
    @include media-mobile {
        gap: 35px;
        padding-bottom: 42px;
    }
}

.service-title {
    @include font ($size: 4rem, $weight: 400, $height: 5.2rem);
    color: $green-title;
    margin: 0%;
    @include media-tablet {
        @include font ($size: 3.5rem, $weight: 400, $height: 4.6rem);
    }
    @include media-mobile {
        @include font ($size: 2.5rem, $weight: 400, $height: 3.3rem);
    }
}

.service-filters {
    display: flex;
    gap: 38px;
    @include media-mobile {
        flex-wrap: wrap;
        gap: 10px;
    }
}

.service-item {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 20px;
}

picture {
    display: contents;
}

.service-item__img {
    border-radius: 20px 20px 0px 0px;
    @include media-tablet {
       
    }
}

.service-content {
    border: 1px solid #E3E1D5;
    border-radius: 0 0 20px 20px;
}

.service-content__name {
    @extend %font-add;
    @include font ($size: 2rem, $weight: 700, $height: 2rem);
    text-align: center;
    color: $orange-title;
    margin: 10px 0 10px;
}

.service-content__description {
    @extend %font-add;
    @include font ($size:1.6rem, $weight: 400, $height: 2rem);
    text-align: center;
    color: $grey-title;
    margin: 0 0 36px;
    @include media-tablet {
        margin: 0 38px 16px;
        text-align: left;
    }
}