.welcome {
    background: $bg-section;
}

.welcome-content {
    padding-left: 214.34px;
}

.welcome-content__title {
    @extend %font-add;
    @include font ($size: 4.5rem, $weight: 700, $height: 5rem);
    margin: 0%;
    color: $grey-title;
    >* {
        color: $green-title;
    }
}

.welcome-content__text {
    @extend %font-add;
    @include font ($size: 2rem, $weight: 400, $height: 3.5rem);
    color: $main-text;
    margin: 42px 0 48px;
}