.button {
    @extend %font-add;
    @include font ($size: 2rem, $weight: 400, $height: 2.6rem);
    width: 161px;
    padding: 11px 0;
    border: 1px solid #E06733;
    border-radius: 5px;
    background: transparent;
    color: $orange-title;
    &__prices {
        margin-bottom: 7px;
    }
    &:hover {
        @extend %transition;
        background: #E06733;
        color: #FFFFFF;

    }
}

.button__welcome {
    @include font ($size: 1.6rem, $weight: 400, $height: 2rem);
    color: #000000;
}